<div class="resume hresume" id="content">
    <div class="profile-header">
      <div id="member-22660519" class="masthead vcard contact">
      <div id="profile-picture" style="display:block" class="image zoomable">
                   <a href="http://m3.licdn.com/media/p/1/000/06e/186/1a552d4.jpg" id="yui-gen3">
                    <img width="100" height="100" alt="Ryan Csolak (Ryan James Agency)" class="photo" src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/1/000/06e/186/1a552d4.jpg">
                  <span class="larger-profile-photo-control" style="left: 80px; top: 80px;"></span></a>
          <script class="li-control" type="text/javascript+initialized" id="controlinit-5">
              LI.Controls.addControl('control-5', 'LargerProfilePicture', {
                  imgSrc: 'http://m3.licdn.com/media/p/1/000/06e/186/1a552d4.jpg',
                  imgWidth: 200,
                  imgHeight: 200,
                  vieweeId: 22660519
                });
                  </script>
 		</div>
      <h1>
            <span class="n fn" id="name">
              <span class="full-name"><span class="given-name">Ryan</span> <span class="family-name">Csolak (Ryan James Agency)</span></span>
            </span>
      </h1>
    <p style="display:block" class="headline-title title">
        Managing Partner | Creative, <strong class="highlight">Ryan</strong> James Agency
     </p>
   <dl class="demographic-info adr" id="headline">
    <dt>Location</dt>
    <dd>
    <span class="locality">
            <a name="location" title="Find users in Greater New York City Area" href="/search?search=&amp;sortCriteria=R&amp;keepFacets=true&amp;facet_G=us%3A70&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2">Greater New York City Area</a>
    </span>
    </dd>
    <dt>Industry</dt>
        <dd class="industry">
            <a name="" title="Find users in this industry" href="/search?search=&amp;industry=80&amp;sortCriteria=R&amp;keepFacets=true&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2">Marketing and Advertising</a>
      
    </dd>
    
  </dl>
  
      </div>
<h2 class="section-title"> Overview </h2>
<dl id="overview">
  <dt style="display:block" class="summary-current" id="overview-summary-current-title">
    Current
  </dt>
  <dd style="display:block" class="summary-current">
    
        <ul class="current">
			    
			      <li>
    Managing Partner / Creative
       <span class="at">at </span>
        <span data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=2tv1xd2lyoulzlgkpgavnj9rz" data-tracking="mcp_profile_sum" class="miniprofile-container /companies/289690?miniprofile=&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2" id="yui-gen6"><strong>
      
    <a href="/company/289690?goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=pro_other_cmpy" class="company-profile"><span>Ryan James Agency</span></a></strong></span>
			      </li>
			    
        </ul>
      
  </dd>
  
 <dt style="display:block" class="summary-past" id="overview-summary-past-title">  
    Past
  </dt>
  <dd style="display:block" class="summary-past">
    
        <ul class="past">
		    
		      <li>
		        
     Sr. Art Director
      
       <span class="at">at </span>
      
     
        <span data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=2tv1xd2lyoulzlgkpgavnj9rz" data-tracking="mcp_profile_sum" class="miniprofile-container /companies/74284?miniprofile=&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2" id="yui-gen10"><strong>
      
    <a href="/company/74284?goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=pro_other_cmpy" class="company-profile"><span>Dana Communications</span></a></strong></span>

		      </li>
		    
		      <li>
    Graphic Designer
      
    
    
      <span class="at">at </span>
      
	        
      
        <span data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=2tv1xd2lyoulzlgkpgavnj9rz" data-tracking="mcp_profile_sum" class="miniprofile-container /companies/27418?miniprofile=&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2" id="yui-gen8"><strong>
      
    <a href="/company/27418?goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=pro_other_cmpy" class="company-profile"><span>Princeton Partners</span></a></strong></span>
	      
 
		      </li>
		    
		      <li>
		        
     Production Artist
      
    
    
      <span class="at">at </span>
      Construction Data Corporation
 		      </li>
		    
		    </ul>
		    
        
        
          <div id="morepast" class="showhide-block" style="display: none;">
            <ul class="past">
              
                <li>
                  
     Graphic Artist
      
      <span class="at">at </span>
      Tony Lee Associates
    
                </li>
              
            </ul>
            <p class="seeall showhide-link"><a id="morepast-hide" href="#">see less</a></p>
          </div>
          <p class="seeall showhide-link" style="display: block;"><a id="morepast-show" href="#">see all</a></p>
      
      
  </dd>
  

  
  
    <dt style="display:block" class="summary-education" id="overview-summary-education-title"> 
       Education
    </dt>
    <dd style="display:block" class="summary-education">
      
		      <ul>
		        
              
 		          <li>
	              Mercer County Community College
		          </li>
		          
		        
		      </ul>
		      
		      
        
    </dd>
  
  
  
  
    <dt>
       Recommendations
    </dt>
    <dd>
      <p>
        
            
                <strong>4</strong> people have recommended Ryan
              
          
      </p>
    </dd>
  

  
  
    
    <dt>
      Connections
    </dt>
    <dd class="overview-connections">
      <p>
      
        <strong>176</strong>  connections
      
      </p>
    </dd>
    
  

  
  
  
    <dt class="websites">Websites</dt>
    <dd class="websites">
      
	      <ul>
	        
	          
            <li>
              <a name="overviewsite" title="New window will open" target="_blank" href="/redirect?url=http%3A%2F%2Fwww%2Eryanjamesagency%2Ecom&amp;urlhash=C21B">
              
                Company Website
                
              </a>
              
            </li>
	        
	      </ul>
	      
    </dd>
  
  
  
    
  
  
    <dt>
    	Twitter
    </dt>
    <dd>
        
		        
		          <p>
                
		            <a target="_blank" href="/redirect?url=http%3A%2F%2Fwww%2Etwitter%2Ecom%2Fryanjamesagency&amp;urlhash=Lx34&amp;trk=pro_twit">ryanjamesagency</a>
                  
		            
		          </p>
		        
            
      </dd>
  
    

  
  
    
   <dt>Public Profile</dt>
    <dd class="last">
      <p class="url">
        
            <a name="webProfileURL" title="View public profile" href="http://www.linkedin.com/in/ryanjamesagency">http://www.linkedin.com/in/ryanjamesagency</a>
          
        
      </p>
      </dd>
    
  
  
  
  
    
  
</dl>

<script type="text/javascript">
  showHide.init('overview');
</script>
        <div class="profile-actions-tertiary-container">
          

 
<ul class="profile-actions-tertiary has-3">
        <li class="share">
          <a href="/forwardProfileMsg?displayCreate=&amp;profileID=22660519&amp;profileName=Ryan+Csolak+%28Ryan+James+Agency%29&amp;network=I&amp;authToken=PEJA&amp;authType=NAME_SEARCH&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2%2Enpv_22660519_*1_*1_NAME*4SEARCH_PEJA_*1_en*4US_*1_*1_*1_9415cd33*5009d*545fe*5a8d9*5f03c9b8499fb*50_2_276428_ps_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-ab-share-0">
            <span>Share</span>
          </a>
        </li>
        <li class="print">
          <a title="Print Profile" href="javascript:window.print();">
            <span>Print</span>
          </a>
        </li>
        <li class="flag">
          
          <a href="/profile/flag?id=22660519&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2%2Enpv_22660519_*1_*1_NAME*4SEARCH_PEJA_*1_en*4US_*1_*1_*1_9415cd33*5009d*545fe*5a8d9*5f03c9b8499fb*50_2_276428_ps_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-ab-flag-0" id="yui-gen4">          
            <span>Flag</span>
          </a>
          
       
        </li>
</ul>

        </div>
      
    </div>
        
            
            <div class="alert attention">
              <p>Expanded profile views are available only to premium account holders. <a href="/subscriptionv2?displayProducts=&amp;c=20&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2%2Enpv_22660519_*1_*1_NAME*4SEARCH_PEJA_*1_en*4US_*1_*1_*1_9415cd33*5009d*545fe*5a8d9*5f03c9b8499fb*50_2_276428_ps_*1_*1_*1_*1_*1_*1_*1&amp;trk=oon_expprf_cndr" name="_upgradeViewProfile"><strong>Upgrade your account.</strong></a></p>
            </div>
          
            
              
 
  <div style="display:block" id="profile-summary" class="section">

    <div class="header">
      <h2>
				 Summary
				
				
			</h2>
    </div>

    <div class="content">
<p class=" description summary">
    Ryan James Agency is a full service advertising agency specializing in creative marketing and implementation of inspiring ideas. We identify your audience, define your marketing challenges and goals, and will develop full service strategic marketing campaigns.<br>
<br>
We implement custom media strategies, whether it be search engine and social media marketing, or traditional print advertising and direct mail, we believe in engaging and retaining your customers using the appropriate media vehicle.<br>
<br>
Our ideas bridge gaps and navigate this ever changing landscape of consumer driven marketing with real time relevancy and real time results, making Ryan James Agency a truly full service advertising agency.
</p>

	        <div style="display:block" id="profile-specialties">
	          <h3>Specialties</h3>
            
              <p class="null">* advertising<br>
    * marketing<br>
    * branding<br>
    * web design and development<br>
    * media planning/buying<br>
    * search marketing<br>
    * social marketing</p>
            
	        </div>
	      
    </div>
  </div>


<div style="display:block" id="profile-contact" class="section">
  <div class="header">
    
      <h2>Contact Ryan for:
        
      </h2>
    
	</div>
  <div class="content">
    
         <div class="interested">
          <ul>
              
              <li>consulting offers</li>
              <li>new ventures</li>
              <li>job inquiries</li>
              <li>expertise requests</li>
              <li>business deals</li>
              <li>reference requests</li>
              <li>getting back in touch</li>
          </ul>
        </div>
        

        
        
          
              
              <div class="message actions">
                
                    <h3>Send a message to Ryan Csolak (Ryan James Agency)</h3>
                      <ul>
                        

                        
                          <li>
                            
  		                          <a href="/requestList?displayProposal=&amp;destID=22660519&amp;creationType=DC&amp;authToken=PEJA&amp;authType=NAME_SEARCH&amp;goback=%2Efps_PBCK_ryan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2%2Enpv_22660519_*1_*1_NAME*4SEARCH_PEJA_*1_en*4US_*1_*1_*1_9415cd33*5009d*545fe*5a8d9*5f03c9b8499fb*50_2_276428_ps_*1_*1_*1_*1_*1_*1_*1&amp;trk=oon_mkcnt_drctly" name="_contactDirectlyLink"><strong>Send InMail</strong> </a>
  		                        
                          </li>
                        
                      </ul>
                  
              </div>
            
        
      
  </div>
</div>
  </div>
