<div id="footer">
	<ul>
        <li class="first-item"><a href="#" class="active">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of service</a></li>
  </ul>
</div>
