<div class="top_menu_main">
    	<div class="top_menu">
        	<ul>
            	<li class=""><a href="/home">Home</a></li>
                <li class=""><a href="javascript:void(0);">Appointment</a></li>
    <li class="last-item"><a href="#">Contact us</a></li>

<%if doctor_signed_in?%>
                  <li class=""><a href="/patients">My Clinic</a></li>
                  <li class=""><a href="/doctors/sign_out">Logout</a></li>
<%else%> 
        +          <li class=""><a href="/">Login</a></li>
<%end%>
            </ul>
        </div>
    </div>

